/*
* Navbar Dev
*/
#main_navAndCover{
    border-bottom: 10px !important;
    border-color: #ff032d !important;
}

/*
* Container Basics
*/

.container{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-fluid{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
* Button Basics
*/
.btn_basics{
    text-align: center;
    text-decoration: none;
    font-size: 12pt;
    font-weight: bold;
    margin: 4px 2px;
    padding: 15px 50px;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.btn_basics:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn_download{
    color: white;
    background-color: #ff032d;
}
.btn_download:hover{
    color: black;
    background-color: white;
    border-color: green;
    border-width: 1px;
    
}
.btn_newLink{
    color: white;
    background-color: black;
}
.btn_newLink:hover{
    color: black;
    background-color: white;
    border-color: black;
    border-width: 1px;
}


/*
* Footer
*/
.socail_media_icon:hover{
    cursor: pointer;
}
