html,
body {
    font-family: 'Raleway';
    color: white;
    scroll-behavior: smooth;
    background: url("/images/Protruding-Squares.svg");
}

.navbar {
    font-size: 1.5rem;
    background: transparent !important;
    padding: 1.5rem;
    transition: background-color 1s ease;
}

.nav-item {}

.navbar-brand {
    display: none;
    padding-right: 0px;
    margin-right: 0px;
    font-weight: bold;
    text-decoration: underline;
}

.introCenterText {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

#currentSpotInPage {
    background: white;
    color: black !important;
    border: white solid !important;
    padding: 1rem;
}

.jumbotron {
    width: 100%;
    background: transparent;
}

.jumbotron h1 {
    font-weight: 400;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
}

.jumbotron hr {
    width: 20%;
    border: none;
    background-color: white;
    height: 1px;
}

.jumbotron p {
    font-size: 1.2rem;
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
}

.images {
    padding-top: 3rem;
}

/* About me section */
.aboutMeSection {
    width: 100%;
    height: 100%;
    background: white;
    padding: 4rem 2rem;
}

.aboutMeSection .container-fluid hr {
    border: none;
    width: 10%;
    background-color: black;
    height: 1px;
}

.aboutMeSection h2 {
    text-align: center;
    font-weight: 400;
}


.aboutMeCircleSection {
    background: #C4C4C4;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
    padding: 6rem;
    margin: 0;
    position: relative;
    left: -3%;
    max-width: 350px;
    min-width: 350px;
    height: 100%;
}

.aboutMeSection .container-fluid .row .aboutMeCircleSection hr {
    background-color: black;
    width: 30%;
    height: 100%;
}

.aboutMeSection.row.align-items-center {
    height: 100%;
}

.skillsSection {
    padding: 7rem 0;
    text-align: center;
}

.progress {
    box-shadow: -3px 1px 10px rgba(0, 0, 0, 0.50);
    margin-left: 1.5rem;
}
.progress-bar {
    margin: 0;
    padding: 0;
    text-align: center;
    background: red;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
}
#secondSkillBar {
    background-color: #6032C0;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
}
#thirdSkillBar {
    background-color: #2BBD66;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
}
/* end of skills css */


#onTopOfApps {
    padding: 3rem;
    background: white;
}


/* start of products section css */
#productsSection {
    padding: 3rem 0 3rem 0;
    background: black;
}

#productsSection hr {
    border: none;
    background-color: white;
    height: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 10%;
}
#productsSection h2 {
    font-weight: 400;
}

.hideAppCard {
    visibility: hidden;
}
.revealAppCard {
    visibility: visible;
}
.row .col-lg-3 #underscoreApplicationName {
    border: none;
    background-color: black;
    height: 1px;
    margin: 0 0;
    width: 13%;
}
.seeMoreText {
    font-weight: 100;
    text-align: right;
    font-size: 1.8rem;
    padding-right: 1.5rem;
    margin-bottom:0;
}
.applicationsRow  {
    margin: 2rem 0;
    
}
.applicationsRow .card {
    padding: 2rem 1.2rem 1.2rem 1.2rem;
    margin-top: 1rem;
    border: none;
}
.applicationsRow .card:hover {
    background: rgba(250, 250, 250, 0.685) !important;
}

#desktopApplicationsHeader {
    padding-top: 2rem;
}

.checkOutText {
    color: black;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.fa-hand-pointer {
    transform: rotate(90deg);
}
.tagSections {
    padding: 1rem 0 0 0;
    text-align: center;
}

.card-body #seperateTagsAndCheckItOut {
    background-color: black;
    height: 1px;
    border: none;
    width: 100%;
    margin: 0;
    margin: 1.5rem 0 0 0;
}

.row .likedWhatYouSaw {
    text-align: center;
    font-size: 1.2rem;
    padding: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Great tech section */
#greatTechSection {
    padding: 5rem 10rem;
    text-align: center;
    background: white;
}

#greatTechSection h2 {
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}

#greatTechSection hr {
    width: 35%;
    border: none;
    height: 1px;
    background-color: black;
    margin-bottom: 2rem;
}

#greatTechSection .card {
    margin: 3rem 0;
    border: none;
    border-radius: 50%;
}

#greatTechSection .card img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: filter 0.5s linear;
}

#greatTechSection .card img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}



/* end of built using great tech section styles */

/* ----- Start of socials section- --- */

.socialsSection {
    background-color: black;
    padding: 4rem;
    text-align: center;
}

.socialsSection .col-lg-2 img {
    padding: 0 1rem;
    margin-top: 2rem;
}

/* ----- End  of socials section- --- */


/* Start of Contact Form Section */

#contactFormSection {
    padding: 6rem;
    background: white;
}
#contactFormSection .container h1 {
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.50);
}

#contactFormSection .form-group {
    padding-top: 1.2rem;
}

#contactFormSection .emailHelp {
    padding-bottom: 0;
    margin-bottom: 0;
}

input {
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
}

textarea {
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
}

#contactFormSection label {
    font-size: 1.5rem;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.50);
}

#contactFormSection .form-control {
    background-color: black;
    border-radius: none;
}

#contactFormSection .buttonRow {
    text-align: center;
    padding: 3rem;
    padding-bottom: 0;
}

#contactFormSection button {
    border-radius: 50%;
    padding: 2rem;
    background: #000;
    font-size: 1.5rem;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.50);
    margin-bottom: 0;
}

/* end of contact form section */

/* start of footer section */

#footerSection {
    background-color: black;
    padding: 3rem 5rem 5rem 5rem;
}

#jesusCallejasHeader {
    color: red;
    font-size: 2.2rem;
}

#footerSection .footRedirectionSection {
    border-left: white solid 2px;
}

#footerSection .row {
    width: 100%;
}

.footerRedirectionTitle {
    font-size: 1.5rem;
    font-weight: 200;
    padding-bottom: 1.3rem;
}

.navbar.solid {
    background-color: black !important;
    transition: background-color 1s ease 0s;
}

#footerCanvas {
    position: absolute;
    z-index: 0;
}

@media only screen and (max-width: 1440px) {
    .navbar-light .navbar-brand {
        display: none;
    }
    #productsSection {
        padding: 3rem;
    }
    .skillsSection span {
        padding-left: 0;
    }

}

@media only screen and (max-width: 768px) {
    .aboutMeCircleSection {
        left: auto;
        /* margin-right: 1rem; */
        /* margin-left: 0.5rem; */
        padding: 60px;
        background-color: white;
        box-shadow: none;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    .skillsSection  {
        margin: 0 2rem 2rem 2rem;
        padding: 0;
    }
    .progress {
        padding-left: 0;
        margin-left: 0;
    }
    .skillsSection .row {
        padding: 2rem;
    }
    .skillsSection .row .col-lg-1 {
        padding: 2rem;
    }

    .badge {
        font-size: 1.2rem;
    }

    #contactFormSection .container h1 {
        font-weight: bold;
        text-align: left;
        font-size: 4rem;
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.50);
    }
    #footerSection .col-lg-2 {
        margin-top: 2rem;
    }

    #greatTechSection {
        text-align: center;
    }

    #greatTechSection h2 {
        font-size: 4rem;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
    }

    #greatTechSection .card {
        margin: 2rem 2rem;
    }

    #greatTechSection .card img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        height: 300px;
        width: 300px;
    }
    

    .aboutMeSection .container-fluid hr {
        width: 30%;
    }

    .applicationsRow .col-lg-3 .text-left .card-title {
        font-size: 2rem;
    }

    .row .col-lg-3 #underscoreApplicationName {
        border: none;
        background-color: black;
        height: 1px;
        margin: 0 0;
        width: 10%;
    }

    .card-body .text-dark {
        font-size: 1.3rem;
        font-weight: normal;
    }

    #productsSection hr {
        width: 30%;
    }

    br {
        display: none;
    }

    #contactFormSection .container h1 {
        text-align: center;
        break-after: unset
    }

    .seeMoreText {
        display: none;
    }

}


@media only screen and (max-width: 376px) {

    .navbar {
        background: white !important;
        color: black !important;
    }
    .navbar-light .navbar-brand {
        display: inline-block;
    }
    .skillImage {
        max-width: 100px;
    }

    .aboutMeSection {
        width: 100%;
        height: 100%;
        margin: 0 0;
        padding: 0;
    }

    #contactFormSection .container h1 {
        font-weight: bold;
        text-align: left;
        font-size: 4rem;
        text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.50);
    }
    #footerSection .col-lg-2 {
        margin-top: 2rem;
    }

    #greatTechSection h2 {
        font-size: 3rem;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.50);
    }

    #greatTechSection .card {
        margin: 2rem 2rem;
    }

    .aboutMeSection .container-fluid hr {
        width: 30%;
    }

    .applicationsRow .col-lg-3 .text-left .card-title {
        font-size: 2rem;
    }

    #productsSection {
        padding: 3rem 0;
    }

    .row .col-lg-3 #underscoreApplicationName {
        border: none;
        background-color: black;
        height: 1px;
        margin: 0 0;
        width: 30%;
    }

    #productsSection hr {
        width: 30%;
    }
}